.boton1{
    width: 20px;
    height: 20px;
    background-color: #463E3E;
    color:white;
    text-align: center;
    display: inline-block;
    margin: 1px;
    font-size: 14px;
}
.boton2{
    width: 20px;
    height: 20px;
    background-color: black;
    color:white;
    text-align: center;
    display: inline-block;
    margin: 1px;
    font-size: 14px;
    width: 200px;
    padding: 4px 8px;
}

.field{
    height: 20px;
    width:50px;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.ItemCount{ 
    margin:auto;
    text-align: center;
    bottom: 2px;
    width: 100%;
}
.addToCart{ 
    padding: 2px 4px;
    background-color: #463E3E;
    color:white;
    font-size: 13px;
}
