.topbar{
    display: flex;
    width:100%;
    align-items: center;
    background-color: brown;
    position: fixed;
    top: 0;
  }
  .logo{
    height:50px;
    width: 50px;
  }
  .nombreTienda{

  }
  .shopping{
    width: 35px;
    float: right;


  }