
.links{
  display: flex;
  list-style-type: none;
}
.App{
  text-align: center;
height: 100%;

}

  .formControl{
    padding: 10px 20px;
     font-size: 28px;
     border-width: 1px;
     border-color: #000000;
     background-color: black;
     color: grey;
     border-style: hidden;
     border-radius: 50px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.formControl:focus {
  outline:none;
}
.goBack{
  margin-right: 20px;
}